{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e73c1f6447.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/nav.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/huellaprofesores.css'%}">
    <script src="https://cdn.tiny.cloud/1/0hlvdpmuocdtyv6xz61ds9w0yq0vt508x06sr8gaok6it2q9/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/MasterMain.js"></script>
    <script src="/static/js/sweetalert2.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/administracion/huellaprofesores.js"></script>
    <title>Document</title>
</head>
<body>
    {% include 'nav.html' %}
        
    <div id="DivGeneral">
        
        
        <div id="omg">
            <h1>Vinculacion Profesor Huella</h1>
            
            <select id="SelectUsuarios" onchange="huellaprofesores.buscar()">
                <option value=1>David Salinas</option>
                <option value=2>mieguel salinas</option>
                <option value=3>Codigo Barra Equipo</option>
            </select>

            <h2>Huella Actual</h2>

            <select id="SelectHuella">
                <option value=0>Sin huella</option>
                <option value=1>David salinas 20.221.032-5</option>
                <option value=2>mieguel salinas 13240759-2</option>
                <option value=3>Codigo Barra Equipo</option>
            </select>
            <div>
                            <button onclick="huellaprofesores.asignarhuella()">Vincular</button><button>Desvincular</button>
            </div>

        </div>
        

        
        
        
    </div>
        
        
        
        <div id="Ventana">
            
        </div>
        <div id="Cargando"><div class="preloader"></div></div>
    <script>
        const huellaprofesores= new javahuellaprofesores("{{request.session.usuario.id}}") 
       //https://parzibyte.me/blog/2019/08/19/codigos-barras-javascript-jsbarcode/
        

    </script>
</body>
</html>