<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e73c1f6447.js" crossorigin="anonymous"></script>

    <title>Intranet</title>
    <link rel="stylesheet" href="{% static 'css/nav.css'%}">
    <link rel="stylesheet" href="{% static 'css/adminhorarios.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/sweetalert2.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/administracion/crearhorarios.js"></script>

</head>

<body>
    
    {% include "nav.html" %}
    <div class="BarraSuperior">
        <h4>Horarios</h4>
        <div id="DivBotones" style="display: flex; margin-left: 20vw;">
            <button style=" margin-right: 10px;" class="BotonNormal" onclick="crearhorarios.crearventana()">Crear horario</button>
            <button style=" margin-right: 10px;" class="BotonNormal" onclick="crearhorarios.creartablaorden()">Cambiar orden</button>
        </div>

    </div>
    <div id="divTablaHorarios">

        
        
    </div>

    <div id="Ventana">


    </div>
    <div id="Cargando" style="display: none;"><div class="preloader"></div></div>
</body>
<script>

    const crearhorarios= new javacrearhorarios();

</script>

</html>