<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e73c1f6447.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/0hlvdpmuocdtyv6xz61ds9w0yq0vt508x06sr8gaok6it2q9/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/nav.css'%}">
    <link rel="stylesheet" href="{% static 'css/adminimpresion.css'%}">

    <title>Document</title>
</head>
<body>
    {% include 'nav.html' %}
    <div id="divAdministracion">
        <a href="{% url 'RenderVistaImpresor' %}">Vista Impresor</a>
        <a href="{% url 'RenderVistaCordinador' %}">Vista Cordinador</a>
        <a href="{% url 'RenderVistaProfesor' %}">Vista Profesor</a>
    </div>

  
    
</body>
</html>