<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="https://kit.fontawesome.com/e73c1f6447.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/nav.css'%}">
    <link rel="stylesheet" href="{% static 'css/profesorimpresion.css' %}">
    <link rel="stylesheet" href="{% static 'css/estados.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/sweetalert2.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/impresion/vistaprofesor.js"></script>
    <title>Impresion</title>
</head>
<body>
    {% include 'nav.html' %}
    <div id="divProfesor">
        <div id="wtf">
            <a><button id="CrearPeticion" onclick="vistaprofesor.crearventana()" hidden>Crear Solicitud</button></a>
            <a href="{% url 'RenderHistorialProfesor' %}"><button id="CrearPeticion">Ver Historial</button></a>
            <button id="VerTodo"  onclick="vistaprofesor.mostrardatos(true)">Ver Mas</button>
        </div>

        <div class="OverFlow">
            <table id="Listado">

                        
            </table>
        </div>

        

    </div>

    <div id="Ventana">
    
    </div>

    <div id="Cargando"><div class="preloader"></div></div>
    
    <script>

        const vistaprofesor= new javavistaprofesor("{{request.session.usuario.id}}");
        //vistaprofesor.idusuario="{{request.session.usuario.id}}";
    </script>
    
</body>
</html>