html,body //esto no deja espacio en blanco en movil 
{
    width: 95vw;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    
    
}

#DivGeneral{
    display: flex;
    justify-content: center;
    
    #DivGeneral2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow-x: visible;
        
        button{
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        

        
    }
}

#Menu{
    position: fixed;
    display: flex;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    padding: 5px;
    background-color: #005895;
    left: -1000px;
    top:30vh;
    h2{
        text-align: center;
        color: white;
    }
    button{
        padding: 1px;
        border: 1px solid #ffffff;
        background-color: #004475;
        color: white;
        border-radius: 20px;
        margin-top: 5px;
        &:hover{
            background-color: #0082df;
            
        }
    }
}
.AbrirMenu{
    animation-name: AbrirMenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.CerrarMenu{
    animation-name: CerrarMenu;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes AbrirMenu{
    0%{
        left:-1000px
    }
    1%{
        left:-200px
    }
    100%{
        left:5vw;
    }
}
@keyframes CerrarMenu{
    0%{
        left:5vw;
    }
    
    100%{
        left:-200px
        
    }
}
#Filtros{
    position: fixed;
    background-color: #005895;
    color: white;
    width: 100%;
    height: 8vh;
    left:5vw;
    top:0;
    display: flex;
    z-index: 999;
    flex-direction: row;
    align-items: center;
    p{
        text-align: center;
        margin-right: 5px;
    }
    input,select{
        margin-right: 10px;
    }
}
#FiltroCursos{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    background: white;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
    overflow-y: hidden;
    border: 1px solid black;
    border-radius: 5px;
    
    margin-right: 10px;
    width: 27%;

    button{
        min-width: 80px;
        height: 17px;
        max-height: 17px;
        margin: 0;
        padding: 0;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        padding-right: 3px;
        padding-left: 3px;
        margin-right: 5px;
        &:hover{
            background-color: rgb(194, 0, 0);
            color: white;
            transform: scale(1.05);
        }
    }
    
    
    
}
#MenuTiempo{
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}
.desplegar{
    animation-name: desplegar;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.cerrar{
    animation-name: cerrar;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes desplegar{
    0%{
        visibility: visible;
        opacity: 0;
        
    }
    25%{
        opacity: 0.5;
    }
    50%{
        width: 27%;
        height: 0px;
    }
    100%{
        height: 28px;
        visibility: visible;
    }
}
@keyframes cerrar{
    0%{
        height: 28px;
        visibility: visible;
    }
    50%{
        
        height: 0;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        visibility: hidden;
        opacity: 0;
        
    }
}





#FiltroCursos::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 6px;
	background-color: #F5F5F5;
}

#FiltroCursos::-webkit-scrollbar
{
	height: 6px;
	background-color: #F5F5F5;
}

#FiltroCursos::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5c5c5cbd;
}

.BotonPagina{
    cursor: pointer;
    border-radius: 100%;
    background-color: white;
    border: solid 1px rgb(168, 168, 168);
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding-inline: 4px;
    &:hover{
        transform: scale(1.1);
        background-color: #53AF09;
        
    }
}

#Paginas{
    position: fixed;
    bottom: 0px;
    background-color: #004475;
    padding-inline: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Actual{
    border: solid 1px #53AF09;
    color: rgb(255, 255, 255);
    background-color: #53AF09;
    transform: scale(1.2);
}

#Realth{
    position: fixed;
    z-index: 210;
    top: 55px;
}

#Realth2{
    position: fixed;
    z-index: 200;
    top: 55px;
}

.Faketh{
    
    opacity: 0;
    top: 60px;
}

.Ajustar{

    animation-name: Ajustar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes Ajustar{
    0%{
        top:56px
    }
    100%{
        top: 0px;
    }

}
.Ajustarth{
    position: fixed;
    animation-name: Ajustarth;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes Ajustarth{
    0%{
        
        top:115px
    }
    100%{
        top: 59px;
    }
    

}


.DesAjustar{
    
    animation-name: desajustar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes desajustar{
    0%{
        top: 0px;
    }
    100%{
        top:56px;
    }
}

.DesAjustarth{
    animation-name: desajustarth;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes desajustarth{
    0%{
        top: 56px;
    }
    100%{
        top:115px;
    }
}

.Especial{
    top: 59px;
}

.DatoGrande{
    
    width: 10vw !important; 
    min-width: 10vw!important;
    max-width: 10vw!important;
}
.DatoMediano{
    
    width: 6.7vw !important; 
    min-width: 6.7vw!important;
    max-width: 6.7vw!important;
}

#MalditoDiv{
    display: flex;
    align-content: space-around;
    padding-top: 10vh;
    padding-bottom: 6vh;
    width: 100%;

}

#TablaInfo{
    width: 40%;
    border-collapse: collapse;
    tr{
        th{
            background-color: #004475;
            color: white;
        }
        td{
            text-align: center;
        }
    }
}
#TablaAsist{
    width: 60%;
    border-collapse: collapse;
    table-layout: fixed;
    
    tr{
        th{
            background-color: #004475;
            color: white;
            border: 0px;
        }
        td{
            text-align: center;
            empty-cells:show;
            border: 1px solid rgba(0, 0, 0, 0.459);
        }
    }
}
.Presente{
    background-color: green;
    color: white;
}
.Atrasado{
    background-color: rgb(255, 153, 0);
    color: white;
}
.Ausente{
    background-color: aliceblue;
    cursor: pointer;
}
.Seleccionado{
    background-color: #53AF09;
    color: white;
}