html,body //esto no deja espacio en blanco en movil 
{
    width: 95vw;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    background-color: #cecece;
}
#Cursos,#Asignaturas{
    margin-left: 3px;
    border-radius: 10px;
}
#DivGeneral{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .BotonNormal{
        margin-bottom: 5px;
    }
    #Tabla{
        width: 95%;
        border-collapse: collapse;
        
        th{
            background-color: #005895;
            color: white;
        }
        td{
            text-align: center;
            padding-bottom: 5px;
            padding-top: 5px;
            input[type="text"]{
                width: 25px;
                text-align: center;
                border: solid 1px black;
            }
            input[type="number"]{
                width: 25px;
                text-align: center;
                border: solid 1px black;
                -moz-appearance: textfield;
            }
           
        }

        tr:nth-child(odd){
            background-color: white;
        }
        tr:nth-child(even){
            background-color: rgb(233, 245, 255);
        }
        
    }
    @media only screen and (max-width: 768px) {
        #Tabla{
        width: 100vw;

            th{
                min-width: 30px;
            }
            tr{
                min-height: 50px;
                height: 50px;
                td{
                    min-height: 50px;
                    height: 50px;
                }
                
            }

            margin-bottom: 50px;
        }

    }
}
.BarraSuperior{
    padding-left: 0 !important;
    margin-bottom: 5px;
    font-size: large;
    
}
#Selects{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 5px;
    select{
        margin-top: 5px;
        margin-right: 5px;
        font-size:large;
        height: 90%;
    }
    h1{
        padding-right: 5px;
    }
    @media only screen and (max-width: 768px) {
        
        h4{
            font-size: 14px;
        }
        select{
            font-size: 14px;
        }
        
        
    }
}
.OverFlow{
    width: 100%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 768px) {
        display: block;

    }
}
.CrearPeticion{
    width: 130px;
    height: 45px;
   
    background-color: #34495e;
    color: white;
    border: 2px solid #1abc9c;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
    margin-bottom: 5px;
    transition: background-color 0.5s;
    
    &:hover {
        
        background-color: #1abc9c;
    }

}
#Cargando{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.692);
    label{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
}

.Cambiado{
    background-color: rgb(255, 251, 0);
    color: black;
}

.rojo{
    background-color: rgb(204, 0, 0) !important;
    color: white !important;
}
.indicador{
    text-align: center;
    width: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.S1{
    background-color: rgb(112, 217, 224) !important;
    color: black !important;
    border: 1px solid black;
}
.S2{
    background-color: rgb(50, 204, 119) !important;
    color: black !important;
    border: 1px solid black;
}
.S3{
    background-color: rgb(79, 126, 255) !important;
    color: black !important;
    border: 1px solid black;
}
.S4{
    background-color: rgb(255, 185, 55) !important;
    color: black !important;
    border: 1px solid black;
}

#T1{
    transition: 0.2s;
    &:hover{
        border: 1px solid black;
        background-color: rgb(68, 243, 255) !important;
        cursor: pointer;
    }
}
#T2{
    transition: 0.2s;
    &:hover{
        background-color: rgb(0, 255, 115) !important;
        border: 1px solid black;
        cursor: pointer;
    }
}
#T3{
    transition: 0.2s;
    &:hover{
        background-color: rgb(0, 68, 255) !important;
        border: 1px solid black;
        cursor: pointer;
    }
}

.MenuSeleccionado{
    background-color: rgb(0, 255, 0) !important;
}
#MenuSuperior{
    
    width: 80%;
    height: 6vh;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    button{
        margin-left: 10px;
    }
    input[type="date"],input[type="time"]{
        margin-right: 10px;
    }
    @media only screen and (max-width: 600px) {
        width: 95%;
        height: 7vh;
        
     }
}
.Presente{
    position: relative;
    background-color: rgb(0, 141, 0) !important;
    color: white !important;
    transition: 0.2s;
    &:hover{
        .Oculto{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.Atrasado{
    position: relative;
    background-color: orange !important;
    color: black !important;
    transition: 0.2s;
    &:hover{
        .Oculto{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.Oculto{
    position: absolute;
    background-color: rgb(255, 59, 59);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    label{
        color: black;
    }
    
}