html, body {
  width: 95vw;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  background-color: #cecece;
}

#divTablaNoticias {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
#divTablaNoticias .Item {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}
#divTablaNoticias .Item .Oculto {
  background-color: rgba(0, 85, 197, 0.637);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 30vh;
  left: 0;
  min-width: 13vw;
  max-width: 13vw;
  opacity: 0;
  transition: 0.1s;
}
#divTablaNoticias .Item .Oculto button {
  margin-right: 0 !important;
  width: 90% !important;
  font-size: medium;
}
#divTablaNoticias .Item .Oculto:hover {
  opacity: 1;
}
#divTablaNoticias .Item .Oculto h2 {
  color: white;
  font-weight: bold;
}
#divTablaNoticias .Item .Imagen {
  min-height: 30vh;
  max-height: 30vh;
  min-width: 13vw;
  max-width: 13vw;
  -o-object-fit: cover;
     object-fit: cover;
}
#divTablaNoticias .Item .Informacion {
  width: 100%;
}
#divTablaNoticias .Item .Titulo {
  display: flex;
}
#divTablaNoticias .Item .Titulo h4 {
  min-width: 10vw;
  background-color: #006FBB;
  color: white;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
#divTablaNoticias .Item .Titulo label {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
#divTablaNoticias .Item .Titulo input {
  margin-left: 10px;
}
#divTablaNoticias .Item .Titulo:nth-child(even) {
  background-color: rgb(234, 244, 253);
}
#divTablaNoticias .Item .Botoneras {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: center;
}
#divTablaNoticias .Item .Botoneras button {
  margin-right: 5px;
  padding: 5px;
}

#CrearPeticion {
  padding: 10px 40px;
  background-color: #34495e;
  color: white;
  border: 2px solid #1abc9c;
  font-size: 20px;
  border-radius: 30px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  transition: background-color 0.5s;
  margin-bottom: 10px;
}
#CrearPeticion:hover {
  background-color: #1abc9c;
}
@media only screen and (max-width: 768px) {
  #CrearPeticion {
    width: 40px;
    font-size: 14px;
  }
}

.CrearPeticion2 {
  width: 30%;
  margin-top: 5px;
}

#Ventana {
  background-color: #e0e0e0 !important;
}
#Ventana h2 {
  width: 100%;
  text-align: center;
}
#Ventana .BotonNormal {
  margin-left: 40vw;
  margin-bottom: 20px;
  margin-top: 20px;
}
#Ventana .tox {
  margin-top: 15px;
}
#Ventana .tox-tinymce {
  width: 98% !important;
  margin-left: 1%;
  height: 85% !important;
}

.AbrirVentana {
  animation-name: AnimSubirVentana;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes AnimSubirVentana {
  0% {
    top: 2000px;
  }
  100% {
    top: 50px;
  }
}
.CerrarVentana {
  animation-name: AnimCerrarVentana;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes AnimCerrarVentana {
  0% {
    top: 50px;
  }
  100% {
    top: 2000px;
  }
}
#Separador {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#Separador #etc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#Separador #etc input[type=text], #Separador #etc label {
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
}
#Separador #etc textarea {
  width: 90%;
}

.tox-tinymce {
  height: 500px;
}

#Cargando {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.692);
}
#Cargando label {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #1abc9c;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=noticiasfront.css.map */