html,body //esto no deja espacio en blanco en movil 
{
    width: 95vw;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
    background-color: #cecece;
}
#DivPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.BarraSuperior{

    #DivBotones{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
.DivCursos{
    margin: 2px;
    padding:10px;
    min-width: 150px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.705);
    text-align: center;
    input[type="checkbox"]{
        margin: 5px;
    }
}
.TdEliminar{
    width: 15%;
}
#MenuTop{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}
#Tabla{
    width: 90%;
    background-color: rgb(223, 255, 252);
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    tr:hover{
        background-color: white;
    }
    
    td{
        height: 7vh;
        
        border-top: 1px solid rgb(97, 218, 255);
        border-bottom: 1px solid rgb(97, 218, 255);
        text-align: center;
        padding-right: 10px;
        button{
            float: right;
            
        }
    }
}

.CrearPeticion{
    margin-top: 10px;
    padding: 10px 40px;
    background-color: #34495e;
    color: white;
    border: 2px solid #1abc9c;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
    width: fit-content;
    transition: background-color 0.5s;
    
    &:hover {
        
        background-color: #1abc9c;
    }

}

.BEliminar{
    border-radius: 10px;
    background-color: #ff0000;
    font-size: 20px;
    color: #ffffff;
    border: #ff0000 solid 1px;
    padding-inline: 5px;
    &:hover{
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }

}





.AbrirVentana{
    animation-name: AnimSubirVentana;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
@keyframes AnimSubirVentana{
    0%{
        top:2000px;
    }
    100%{
        top:5vh;
    }

    
    
}
.CerrarVentana{
    
    animation-name: AnimCerrarVentana;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
@keyframes AnimCerrarVentana{
    0%{
        top:5vh;
    }
    100%{
        top:2000px;
    }
}
#DivImagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    img{
        text-align: center;
    }
    
    
}

#Contenido{
    margin-top: 15px;
    width: 100%;

    padding-bottom: 10px;
    h2{
        text-align: center;
    }
    #TablaEstudiante,#TablaPadre,#TablaMadre,#TablaAntecedentesAcademicos,#AntecedentesSociales,#AntecendesDeSalud,#TableDocumentacion,#TablaDeberes,.TablaPersonalizada{
        border: solid;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-collapse: collapse;
        th{
            background-color: #006FBB;
            color: white;
            border: solid 1px black;
            
        }
        td{
            border: solid 1px;
            input,select{
                text-align: center;
                width: 100%;
                height: 40px;
                font-size: medium;
                font-weight: bold;
                &:focus{
                    background-color: #c5c5c5;
                    color: black;
                }
                &:hover{
                background-color: #c5c5c5;
                }
            }
            
            
        }
       
    }

}

#botonx{
    position: relative;
    left: 36vw;
    top: 10px;
}
