//import roboto font google
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


body{
    margin: 0px;
    padding : 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        margin: 0px;
        font-size: 26px;
        padding: 0px;
        margin-top: 20px;
    }

    ul{
        display: flex;

        li{
            list-style: none;
            
            a{
                text-decoration: none;
                font-size: 15px;
                display: flex;
                padding: 10px;
                border-radius: 10px;
                background-color: #fff;
            }
        }
    }
}