{% extends "inventario/master.html" %}
{% load static %}
{% block titulo %}Inventario{% endblock %}

{% block scripts %}
    <script src="{% static 'inventario/js/inventario.js' %}"></script>
{% endblock %}

{% block content %}

<div class="filtros">
    <div>
        <label>Centro de costo <button type="button" onclick="inventario.add_filter('centro_de_costo')"><i class="fa-solid fa-plus"></i></button></i></label>
        <select>
            <option value="1">Centro de costo 1</option>
            <option value="2">Centro de costo 2</option>
            <option value="3">Centro de costo 3</option>
        </select>
    </div>

    <div>
        <label>Nivel Educativo <button type="button" onclick="inventario.add_filter('nivel_educativo')"><i class="fa-solid fa-plus"></i></button></label>
        <select>
            <option value="1">Centro de costo 1</option>
            <option value="2">Centro de costo 2</option>
            <option value="3">Centro de costo 3</option>
        </select>
    </div>

    
    <div>
        <label>Grupo <button type="button" onclick="inventario.add_filter('grupo')"><i class="fa-solid fa-plus"></i></button></label>
        <select>
            <option value="1">Centro de costo 1</option>
            <option value="2">Centro de costo 2</option>
            <option value="3">Centro de costo 3</option>
        </select>
    </div>

    <div>
        <label>Categorización <button type="button" onclick="inventario.add_filter('categorización')"><i class="fa-solid fa-plus"></i></button></label>
        <select>
            <option value="1">Centro de costo 1</option>
            <option value="2">Centro de costo 2</option>
            <option value="3">Centro de costo 3</option>
        </select>
    </div>

    <div>
        <label>Area Asignación <button type="button" onclick="inventario.add_filter('area_asignacion')"><i class="fa-solid fa-plus"></i></button></label>
        <select>
            <option value="1">Centro de costo 1</option>
            <option value="2">Centro de costo 2</option>
            <option value="3">Centro de costo 3</option>
        </select>
    </div>

    <div>
        <label>Procedencia <button type="button" onclick="inventario.add_filter('procedencia')"><i class="fa-solid fa-plus"></i></button></label>
        <select>
            <option value="1">Centro de costo 1</option>
            <option value="2">Centro de costo 2</option>
            <option value="3">Centro de costo 3</option>
        </select>
    </div>

    <div>
        <label>Origen de Fondo <button type="button" onclick="inventario.add_filter('origen_fondo')"><i class="fa-solid fa-plus"></i></button></label>
        <select>
            <option value="1">Centro de costo 1</option>
            <option value="2">Centro de costo 2</option>
            <option value="3">Centro de costo 3</option>
        </select>
    </div>

    <div>
        <label>Estado de Conservación <button type="button" onclick="inventario.add_filter('estado_conservacion')"><i class="fa-solid fa-plus"></i></button></label>
        <select>
            <option value="1">Centro de costo 1</option>
            <option value="2">Centro de costo 2</option>
            <option value="3">Centro de costo 3</option>
        </select>
    </div>

    <div>
        <label>Inventariable <button type="button" onclick="inventario.add_filter('inventariable')"><i class="fa-solid fa-plus"></i></button></label>
        <select>
            <option value="">Seleccionar...</option>
        </select>
    </div>

    <div>
        <label>Busqueda por codigo de barra</label>
        <input type="text">
    </div>

    <div>
        <label>Busqueda por valor</label>
        <input type="text">
    </div>

    <div>
        <label>Busqueda por número de factura</label>
        <input type="text">
    </div>

    <div>
        <label>Busqueda por descripción</label>
        <input type="text">
    </div>

    <button class="filtro_boton" type="button">Filtrar</button>

</div>

{% endblock %}

{% block footer %}
<script>
    globalThis.inventario = new Inventario();
</script>
{% endblock %}
