<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario - {% block titulo %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/inventario/css/master.css">
</head>
<body>
    <header>
        <h1>Sistema de Inventario</h1>
        <ul>
            <li><a href="#">Resumen</a></li>
            <li><a href="#">Inventario</a></li>
        </ul>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>