{% extends "inventario/master.html" %}
{% load static %}
{% block titulo %}Resumen{% endblock %}

{% block scripts %}
    <script src="{% static 'inventario/js/resumen.js' %}"></script>
{% endblock %}

{% block content %}
<div style="height: 80vh;">
    <iframe
    src="{{metabase.ruta}}"
    frameborder="0"
    width="100%"
    height="100%"
    allowtransparency
></iframe>
</div>
{% endblock %}

{% block footer %}
<script>
    $(document).ready(function(){
        //resumen.init();
    });
</script>
{% endblock %}
