{% extends "inventario/master.html" %}
{% load static %}
{% block titulo %}Resumen{% endblock %}

{% block scripts %}
    <script src="{% static 'inventario/js/resumen.js' %}"></script>
{% endblock %}

{% block content %}
<div class="graficos">
    <canvas id="grafico1" style="position: relative; width: 50%; height: 50%;"></canvas>

    <canvas id="grafico2" style="position: relative; width: 50%; height: 50%;"></canvas>

</div>
{% endblock %}

{% block footer %}
<script>
    $(document).ready(function(){
        //resumen.init();
    });
</script>
{% endblock %}
