#DivGeneral{
    display: flex;
    
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        
        button{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        table{
            border-spacing: 0;
            width: 90%;
            th{
                background-color: #34495e;
                color:white;
                
            }
            td{
                text-align: center;
            }
            th:last-child{
                width: 20%;
            }
            &:nth-child(even){
                background-color: rgb(227, 240, 255);
            }

        }
    }
}

.CrearPeticion{
    padding: 10px 40px;
    background-color: #34495e;
    color: white;
    border: 2px solid #1abc9c;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
    width: fit-content;
    transition: background-color 0.5s;
    margin-bottom: 10px;
    &:hover {
        
        background-color: #1abc9c;
    }
    @media only screen and (max-width: 768px) {
        
        width: 40px;
        font-size: 14px;
        
        
        

    }

}
#Ventana{
    height: 1000px;
    width: 40vw;
    position: fixed;
    left:30vw;
    top: 5000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background: #192f31c2;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    input,select{
        margin-bottom: 5px;
        width: 70%;
    }
    label{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            margin-bottom:0;
            margin-right: 5px;
            width: fit-content;
            height: fit-content;

        }
    }
    @media only screen and (max-width: 768px) {
        
        width: 90vw;
        left: 5vw;
    
    }
}
.AbrirVentana{
    animation-name: AnimSubirVentana;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    }
    @keyframes AnimSubirVentana{
    0%{
        top:2000px;
    }
    100%{
        top:100px;
    }
    }
    .CerrarVentana{
    
    animation-name: AnimCerrarVentana;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    }
    @keyframes AnimCerrarVentana{
    0%{
        top:100px;
    }
    100%{
        top:2000px;
    }
    }