<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e73c1f6447.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/0hlvdpmuocdtyv6xz61ds9w0yq0vt508x06sr8gaok6it2q9/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="{% static 'css/nav.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/junaeb.css'%}">
    <script src="https://cdn.tiny.cloud/1/0hlvdpmuocdtyv6xz61ds9w0yq0vt508x06sr8gaok6it2q9/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/read-excel-file@5.x/bundle/read-excel-file.min.js"></script>

    <script src="/static/js/MasterMain.js"></script>
    <script src="/static/js/sweetalert2.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/junaeb/junaeb.js"></script>
    <title>Document</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="BarraSuperior">
        <h4>Junaeb</h4>
        <button class="BotonNormal" onclick="junaeb.abrirventana()">Asignar junaeb</button>
        <button class="BotonNormal" onclick="junaeb.abrirventanaimportacion()">Importacion masiva</button>
    </div>

    <div id="Principal">

    
    </div>
    
    <div id="Ventana">
        
    </div>
    <div id="Cargando" style="display: none;"><div class="preloader"></div></div>

</body>
<script>
const junaeb= new javajunaeb("{{request.session.usuario.id}}","{{request.session.usuario.userPerfil}}") 

//https://parzibyte.me/blog/2019/08/19/codigos-barras-javascript-jsbarcode/


</script>
</html>