{% load static %}  
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 

    <title>
       Datos Incorrectos
    </title>
        
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/error.css'%}">
</head>

<body>

</body>
<img src="{% static 'login/img/denied.png' %}">
<h1>Datos Incorrectos</h1>
<h2>Dato ya existente o modificacion de los datos disponibles</h2>

</html>